<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>

    </style>
    </head>
    <body>
        <div class="container">
        <h1> Schueler</h1>
            <table class="table table-striped table-hover">
                <form class="form" id="filterClassForm" method="POST">
                    <tr>
                    Nach Klasse filtern: 
                    <select class="form-control" id="filterClass" name="filterclass">
                        <option>Alle</option>
                        <option>5AHIT</option>
                        <option>5BHIT</option>
                        <option>5CHIT</option>
                    </select>
                    </tr>
                    <tr>
                        <input class="btn btn-primary" type="submit" value="Filter"/><br><br>
                    </tr>
                </form>
                <tr><th>Vorname</th><th>Nachname</th><th>Lieblingsfach</th><th>Klasse</th><th></th><th></th></tr>
                    <% for (var i = 0; i < schueler.length; ++i) { %>

                <tr>
                    <form class="form" action="/delete" method="POST">
                        <td> <%= schueler[i].vorname %></td>
                        <td> <%= schueler[i].nachname %></td>
                        <td> <%= schueler[i].lieblingsfach %></td>
                        <td> <%= schueler[i].klasse %></td>
                        <td> <input type="hidden" id="id" name="id" value="<%= schueler[i]._id %>" />
                            <input class="btn btn-danger" type="submit" value="Delete"/></td>
                    </form>
                    <form class="form" action="/edit" method="POST">
                        <td> <input type="hidden" id="id" name="id" value="<%= schueler[i]._id %>" />
                            <input class="btn btn-warning" type="submit" value="Edit"/></td>
                    </form>
                </tr>

                    <% } %>
            </table>
            <h2>Neuer Schueler:</h2>
            <form class="form" action="/new" method="POST">
            <input class="form-control" name="vorname" placeholder="Vorname"/>
            <input class="form-control" name="nachname" placeholder="Nachname"/>
            <div class="form-group">
                    <label for="sel2">Select Lieblichgsfach:</label>
                    <select class="form-control" id="sel2" name="lieblingsfach">
                            <option>Mathe</option>
                            <option>Deutsch</option>
                            <option>Englisch</option>
                            <option selected="selected">INSY</option>
                            <option>SEW</option>
                            <option>SYT</option>
                            <option>MEDT</option>
                            <option>Sport</option>
                            <option>Religion</option>
                            <option>WIRE</option>
                    </select>
                </div> 
            <div class="form-group">
                <label for="sel1">Select Klasse:</label>
                <select class="form-control" id="sel1" name="klasse">
                    <option>5AHIT</option>
                    <option>5BHIT</option>
                    <option selected="selected">5CHIT</option>
                </select>
            </div> 
            <br>
            <input class="btn btn-primary" type="submit" value="Add User"/>
            </form>
        </div>
<script>
    $('#filterClassForm').submit(function(){
    var formAction = $("#filterClass").val();
    $("#filterClassForm").attr("action", "/search/" + formAction);
});
</script>
    </body>
</html>